Days 45-49/Day 47 - Automated Amazon Price Tracker/.env
Days 22-30/Day 29 - Password Manager With Tkinter/data.txt
Days 45-49/Day 48 - Selenium Webdriver Browser and Game Playing Bot/.env
Days 45-49/Day 49 - Automating your Exercise Routine/.env
Days 45-49/Day 49 - Automating your Exercise Routine/chrome_profile/
Days 50-59/Day 50 - Auto Tinder Swiping Bot/.env
Days 50-59/Day 50 - Auto Tinder Swiping Bot/chrome_profile/
Days 50-59/Day 51 - Internet Speed Twitter Complaint Bot/.env
Days 50-59/Day 51 - Internet Speed Twitter Complaint Bot/chrome_profile/
