<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>ANTOOOO</h1>
    <hr />

    <form action="/login" method="post" target="_blank">
      <label for="name">Name:</label>
      <input type="text" placeholder="Name" id="name" />
      <label for="password">Password:</label>
      <input type="text" placeholder="Password" id="password" />
      <button type="submit">ok</button>
    </form>
    
  </body>
</html>
